/*
Theme Name: Microsoft dla biznesu
Author: Mediamass
Author URI: microsoftdlabiznesu.pl
Description: Domyślny szablon serwisu Microsoft dla biznesu.
Version: 1.0.0
Text Domain: mm-theme
*/

@media screen and (max-width: 908px) and (min-width: 678px) {
	.section__posts--last .section__posts__post p, .section__posts--tiles .section__posts__post p{
		padding-bottom: 58px !important;
	}
}

ol{
	list-style: decimal;
	padding-left: 20px;
}

.widget_wysija h3 {
	margin-top: 0;
}
.widget_wysija_cont .wysija-submit {
	display: block;
	margin: 5px auto 0;
}
.alignright {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.aligncenter {
	display: block;
	margin: 10px auto;
}

.alignleft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
em {
	font-style:italic;
	font-weight: inherit;
}

table
{
	width: 100%;
}
.promo-article .description.without-image {
	max-height: none;
}
@media all and (max-width: 1200px) {
	.admin-bar .site-header {
		top: 32px;
	}
	.site-header__access__login {
		display: none !important;
	}
	.site-header__form-search {
		right: 5% !important;
	}
	.filter {
	transition: none !important;
	}
	.section__slider .section__slider__slide_js > .filter.animate {
		width:100% !important;
	}
		.section__slider .section__slider__slide_small > .filter.animate {
		width:100% !important;
	}
	.rwd-padding{
		padding: 0 10px;
	}
		.section__slider__slide_small{
		height: auto !important;
	}
}
@media all and (max-width: 767px) {
	.admin-bar .site-header {
		top: 46px;
	}
	.site-header__top {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.site-header {
		min-height: 60px !important;
	}
	.title-post-box {
		padding: 0 20px;
	}
	.big-post {
		display: none;
	}
	.section__slider__slide.bg--before > .before {
	opacity:0.4 !important;
	}
/*
	.item .before {
		opacity: 0 !important;
	}
*/
	
}
#cookie-law-info-again {
	display: none !important;
}
.section__slider__content .v-middle {
	display: table;
	width: 100%;
	height: 100%;
}
.section__slider__content .v-middle > div {
	display: table-cell;
	vertical-align: middle;
}
.section__slider__slide img {
	display: block;
}
.section__slider__slide.bg--before > .before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.25;
}
.widget--popular li {
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 12px;
}
.widget--popular li:last-child {
	border-bottom: 0;
}

.section__slider .more {
	color: #FFF;
	font-weight: 200;
	margin-top: 20px;
	display: inline-block;
}
.section__slider__content h2 {
	font-size: 24px;
}
.site-footer__copyright {
	padding-top: 0;
}
.site-footer__copyright p {
	margin-bottom: 40px;
}
.logo-footer {
	display: block;
	margin-top: -50px;
}
.site-footer__copyright .nav--footer li:last-child {
	margin-right: 0;
}
.show-inline\@xxs {
	display: none;
}
@media all and (max-width: 480px) {
	.show-inline\@xxs {
		display: block;
		margin: 0 auto;
	}
	.site-footer__copyright .nav--footer li {
		margin-left: 0;
	}
	.site-footer__copyright .nav--footer li:last-child {
		padding-right: 20px;
	}
	.arrows{
		display: none;
	}
	.item .before {
		opacity: 0.4 !important;
	}
}



/*Added new section home page */

.no-padding{
	padding: 0;
}
.section-padding{
	padding: 0 0px;
}

.section_wraper{
	position: relative;
	height: 400px;
    overflow: hidden;
	margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.section_post {
	position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    color: #FFF;
}

.section_post .v-middle {
	display: table;
    width: 100%;
    height: 100%;
}

.section_post .v-middle div {
	display: table-cell;
    vertical-align: middle;
	padding: 0 10px 0 10px;
	text-align: center;
}
.section_post .v-middle div h2 {
	padding: 0 50px;
}
.add-shadow {
	//text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.home-boxes-posts{
	margin-top: 75px;
}
.home-boxes-posts .more {
	font-size: 1.11765em;
    color: #FFF;
    margin-top: 25px;
    display: block;
	transition: 0.6s;
	
}
.home-boxes-posts .more:hover{
	color: #0078d7;
}
/*
.section_wraper img {
	filter: brightness(53%);
}
*/
.home-boxes-posts a .section_wraper img {
	transition: 4.8s;
	width: 100%;
}
.home-boxes-posts a:hover .section_wraper img {
	 transform:scale(1.2) rotate(4deg);
    -ms-transform:scale(1.2) rotate(4deg); /* IE 9 */
    -moz-transform:scale(1.2) rotate(4deg); /* Firefox */
    -webkit-transform:scale(1.2) rotate(4deg); /* Safari and Chrome */
    -o-transform:scale(1.2) rotate(4deg); /* Opera */
/*	filter: brightness(23%);*/
}

.section__slider__slide {
	overflow: hidden;
	height: 440px;
}

/*
.filter {
	filter: brightness(63%);
}
*/


.size-home-slider-title {
	font-size: 58px !important;
}
.size-home-slider-subtitle {
	font-size: 32px !important;
}
@media all and (max-width: 992px){
		.size-home-slider-title {
		font-size: 35px !important;
	}
	.size-home-slider-subtitle {
		font-size: 22px !important;
	}
	.size-home-slider-more {
		font-size: 20px !important;
	}
	.section_wraper{
		height: auto !important;
	}
	.section_wraper img {
		height: auto !important;
	}
	title-post-box h2 {
		font-size: 24px !important;
	}
	.owl-theme .owl-nav.disabled+.owl-dots {
		display: none;
	}
	.section__tabs__single img {
		display: none;
	}
	.section_wraper {
		margin-bottom: 0px;
	}
	.section__slider__slide{
		height: auto;
	}
	.section__slider__slide{
		min-height: auto;
	}
}


.section__slider__content p {
	font-size: 24px;
}

/*search*/
.site-header__form-search {
	float: left;
	position: absolute;
	right: 15%;
	top: -2px;
}
.site-header__form-search__input{
	width: 140px;
    border: 1px solid #ddd;
	height: 28px;
	padding-left: 10px;
	padding-right: 29px;
}

.site-header__form-search__input:focus {
	border: 1px solid #0078d7;
	color:#0078d7;
}

.site-header__form-search__submit {
	position: absolute;
    right: 0;
	cursor: pointer;
    top: 0;
    bottom: 4px;
    margin: auto 0;
    height: 44px;
    width: 40px;
    background: url(assets/images/icons/icon-search.png) no-repeat;
    border: 0;
    text-indent: -9999px;
    transition: .3s;
}

@media all and (max-width: 750px){
	.site-header__form-search{
		right: 11% !important;
	}
	.site-header__form-search__input {
		width: 116px;
	}
	.section_post .v-middle div h2 {
		font-size: 20px !important;
	}
}

.custom-h1-slider {
	font-size: 42px !important;
}
.custom-p-slider {
	font-size: 24px !important;
}

.section__slider__content {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.padding-content {
	padding-left: 35px;
}
.filter {
	max-width: none;
	transition: 10s;
	width: 100%;
}

.section__slider .section__slider__slide_js > .filter.animate {
	width: 105%;
}
.section__slider .section__slider__slide_small > .filter.animate {
	width: 110%;
}
.animate_js.filter.animate {
	transform:scale(1.2);
}

/*arrow*/
.right-arrow {
	    height: 50px;
    position: absolute;
    width: 50px;
    margin-top: 30%;
    float: right;
    cursor: pointer;
    right: 10px;
    z-index: 9999;
}
.left-arrow {
	    height: 50px;
    position: absolute;
    width: 50px;
    margin-top:30%;
    float: left;
    cursor: pointer;
    left: 10px;
    z-index: 9999;
}
.arrows {
	width: 100%;
}

.arr-def {
	margin-top: 22% !important;
}


.section__tabs__wrapper {
margin-top:75px;
}

.section__slider .more {
margin-top:0px;
}
/*dots*/
.owl-theme .owl-nav.disabled+.owl-dots {
	margin: 0 !important;
	position: absolute !important;
	bottom: 10px !important;
	left: 0 !important;
	right: 0 !important;
}

.add-border {
	border: solid 3px #0078D9;
    background: #0078D9;
    padding: 8px 20px 10px;
	margin-top: 20px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #0078d7 !important;
}

.owl-theme .owl-dots .owl-dot {
	zoom: 1.5 !important;
	-moz-transform:scale(1.8);
}


/*filter to before */
.section_wraper .after {
	content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25; 
	transition: 3.8s;
}
.home-boxes-posts a:hover .section_wraper .after {
	opacity: 0.50;
}
.item .before {
	content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25; 
	z-index: 1;
}
.section__slider__content {
	z-index: 2;
}

.section__slider__content h1{
	font-size:42px ;
}

.def-margin-slider {
	bottom: 120px;
}

@media all and (max-width: 480px) {
	.section__posts--last .section__posts__post p, .section__posts--tiles .section__posts__post p, .section__posts--last .section__posts__post h3, .section__posts--tiles .section__posts__post h3 {
		min-height: auto;
	}
	.section__posts .more {
		margin-top: 20px;
	}
	.size-home-slider-subtitle {
		display: none;
	}
	.section__slider__content h2 {
		font-size: 26px !important;
	}
	.custom-h1-slider{
	margin-bottom:0 !important;
	font-size:40px !important;
	}
	.custom-p-slider{
	font-size:18px !important;
	}
	.section__slider__content h1{
		font-size: 37px;
		margin: 0;
	}
}


.animate_js {
	height: 100%;
    transition: 25s !important;
}

.transform {
		 transform:scale(1.2) ;
    -ms-transform:scale(1.2) ; /* IE 9 */
    -moz-transform:scale(1.2) ; /* Firefox */
    -webkit-transform:scale(1.2) ; /* Safari and Chrome */
    -o-transform:scale(1.2) ; /* Opera */
}

.section__tabs__single.active {
	z-index: 1;
}

.widget--cta p{
    position: absolute;
    top: 65px;
    margin-left: 15px;
    margin-right: 15px;
}

/*pagination*/
.pagination {
	float: right;
}
.pagination ul li{
	float: left;
	margin: 0 5px;
	
}

.pagination ul li a{
	color: #0078d7;
}

.pagination ul  li  .active {
	font-weight: 500;
}


@media screen and (min-width:650px){
	.section__slider__content {
		position: absolute;
    height: 240px;
    top: 0;
    bottom: 0;
    margin: auto 5%;
    color: #FFF;
    padding: 10px 100px 10px 20px;
		background: transparent;
	}
	.mobile {
		display: none !important;	
	}
}

@media screen and (max-width:649px){
	.mobile{
		display: block !important;
	}	
	.desktop {
		display: none !important;
	}
	.section__slider__slide {
		height: auto;
	}
	.section__slider__content{
		position: absolute !important;
		height: auto;
		background: none;
		top: 0;
		bottom:0;
	}
	.arrows{
		display: none;
	}
	
}

.site-header.submenu-active {
	min-height: auto;
}
.site-header .big-offset li {
	margin-right: 80px !important;
}
.section__posts__post a {
	color: #0078d7;
}
.carousel-home .section_wraper {
	height: auto !important;
}
.carousel-home .section_wraper img {
	height: auto !important;
}
.carousel-home .v-middle div h2 {
	font-size: 28px;
}
.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -40px;
}
.owl-carousel .owl-nav > div {
	width: 50px;
	height: 50px;
	position: absolute;
	text-indent: -9999px;
}
.owl-carousel .owl-nav .owl-next {
	background: transparent url('/wp-content/themes/mm-theme-v3.0.7/assets/images/arrow-right.png') center no-repeat;
	background-size: 100%;
	right: 15px;
}
.owl-carousel .owl-nav .owl-prev {
	background: transparent url('/wp-content/themes/mm-theme-v3.0.7/assets/images/arrow-left.png') center no-repeat;
	background-size: 100%;
	left: 15px;
}
.section__slider .arrows > div {
	top: 50%;
	margin-top: -25px !important;
}
.section__slider {
	position: relative;
}
.icon-linkedin {
	background-image: url('/wp-content/themes/mm-theme-v3.0.7/assets/images/linkedin.png');
	width: 30px;
	height: 30px;
}
.section__posts p.section__posts__post__tax {
	margin: 0 !important;
	padding-bottom: 0 !important;
}

.section__posts p.section__posts__post__tax--first  {
	margin-top: 30px !important;
}
@media screen and (max-width:1024px){
	.section__posts p.section__posts__post__tax--first {
		margin-top: 30px !important;
	}
	.home-boxes-posts .section_wraper iframe {
		max-height: 300px;
	}
}
.section__posts--list .more {
	margin-top: 15px;
}
.section__slider .more, .home-boxes-posts .more {
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	border: solid 3px #0078D9;
	background: #0078D9;
	padding: 6px 20px 8px;
	transition: all 0.3s;
}
.section__slider .more:hover, .home-boxes-posts .more:hover {
	background: #005AA2;
	border-color: #005AA2;
	opacity: 1;
	color: #FFF;
}
.home-boxes-posts .more {
	font-size: 15px;
}
.widget--cta--img .widget--cta__more {
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 10px;
}
.section__slider .more:after, .home-boxes-posts .more:after, .widget--cta--img .widget--cta__more:after {
	content: ">";
	display: inline-block;
	float: right;
	margin-left: 5px;
	margin-top: -1px;
}
.padding-content {
	padding-left: 55px;
}
.site-header__nav-main>ul>li>ul>li {
	margin-right: 33px;
}
.site-header__nav-main>ul>li>ul>li:last-child {
	margin-right: 0 !important;
}
.site-header__nav-main>ul>li>ul>li:first-child>a {
	font-size: .88235em;
}
.site-header .medium-offset li {
	margin-right: 65px !important;
}

/*button-single*/

.btn-link{
	position: fixed;
	top:260px;
	right: -87px;
	font-size: 22px;
}

.btn-link p {
	padding: 15px 25px;
	background-color: #00A4EF ;
	color: #fff;
    font-family: "Segoe UI","Open Sans",sans-serif;
	transform: rotate(90deg);

}
.btn-link a:hover, .btn-link-second a:hover{
	opacity: 1;
}
.btn-link a:hover p{

	background-color: #0096db ;
}

.btn-link-second{
	position: fixed;
	top: 420px;
	right: -105px;
	margin-top: 100px;
	font-size: 22px;
}

.btn-link-second p {
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	padding: 15px 21px;
	background-color: #ffb900;
	color: #fff;
    font-family: "Segoe UI","Open Sans",sans-serif;
	transform: rotate(90deg);

}
.btn-link-second a:hover p{
/*
		box-shadow: 2px 4px 35px -2px rgba(0,0,0,0.35);
	-webkit-box-shadow: 2px 4px 35px -2px rgba(0,0,0,0.35);
*/
	background-color: #eaaa00;
}

@media all and (max-width: 1024px) {
	.btn-link , .btn-link-second {
		display: none;
	}
} 